.new-client {
  height: 88vh;
  overflow: auto;
  .new-client-top {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 12px;
    margin-bottom: 16px;
    position: relative;
    .close {
      position: absolute;
      right: 15px;
      top: 25%;
    }
    .new-client-img {
      text-align: center;
      img {
        height: 80px;
        width: 80px;
      }
    }
  }
}

.example-full-width {
  width: 100%;
}
